
@import '../../scss/variables';

.container-game {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    
    &__board {
        width: 100%;
        height: 70%;
        border: 3px solid green;
        padding: 10px;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .player-name {
        h1{
            text-align: center;
            padding: 5px;
        }
    }

    .list-tokens {
        display: flex;
        height: auto;
        margin: 0 auto;
        border: 1px solid blue;
        justify-content: center;
    }

}

