.container-game__board {
    height: 80%;
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
    
    display: flex; 
    margin: 0 auto;   
    align-items: center;
}