@import '../../../scss/variables';

.player {

    display: flex;

    &__name {
        text-align: center;
        margin: 0;
        width: 80%;
        font-size: 25px;
        padding: 10px;
        text-transform: uppercase;
    }
    
    .next-turn {
        width: 20%;
        font-size: 15px;
        text-transform: uppercase;
        background-color: $background-primary;
        height: auto;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
    
        &:hover {
            background-color: $primary-color-hover;
            letter-spacing: 2px;
            cursor: pointer;
        }
    } 
    
}

.list-tokens {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    // border: 1px solid blue;
    justify-content: center;
}