.alert-player-game {
    padding: 10px;
    position: absolute;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 25px;
    width: 500px;
    margin-left: -250px;
    left: 50%;
}

.passed {
    top: 80px;
    text-transform: uppercase;
    background-color: rgba(233, 88, 88, 0.8);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.finished {
    background-color: rgba(117, 233, 88, 0.8);
    top: 150px;
    z-index: 1;
    border-radius: 15px;
    padding: 10px;

    .alert {
        text-transform: uppercase;
        padding: 8px;
        color: green;
        font-weight: bold;
    }
    .player {
        padding: 8px;   
        color: #eee;
    }
}