.alert-player-game {
    padding: 10px;
    position: absolute;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

.passed {
    top: 200px;
    left: 50%;
    text-transform: uppercase;
    background-color: rgb(233, 88, 88);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    width: 500px;
    margin-left: -250px;
}

.finished {
    background-color: rgb(117, 233, 88);
    top: 150px;
    z-index: 1;

    .alert {
        text-transform: uppercase;
        padding: 8px;
    }
    .player {
        padding: 8px;   
    }
}